nav,
button {
  font-size: 1em !important;
}

.navbar-brand {
  font-size: 2rem !important;
}

header {
  background-image: url("./images/pexels-fox-3829230.jpg");
  background-size: cover;
}

.boxes {
  margin-top: 100px;
}

.boxes > div {
  background: rgba(255, 255, 255, 0.671);
  border-radius: 5px;
  color: black;
}

.contact {
  background-image: url("./images/pexels-picjumbocom-4457409.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  background-color: black;
}
