html,
body {
  height: 100%;
}

body {
  background: #060506;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.login {
  width: 325px;
  height: 350px;
  background: #4c5260;
  text-align: center;
  padding: 30px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.login h1 {
  margin: 0;
  font-size: 2em;
}

.login h4 {
  font-weight: normal;
  padding: 10px;
  background: #7d7b96;
  border-radius: 5px;
}

.login input {
  font-family: inherit;
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 2px;
  font-size: 0.85em;
}

.login input[type="password"] {
  margin-top: 25px;
  color: white;
}

.login input[type="submit"] {
  width: 50%;
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  background-color: #070909;
  margin-top: 50px;
  transition: 0.2s ease-in-out;
}

.login input[type="submit"]:hover {
  cursor: pointer;
  background-color: #272627;
}
