@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/* ######################### */
/* Global */
/* ######################### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  scroll-behavior: smooth;
}

body {
  background: black;
  color: #d2d3d3;
  overflow-x: hidden;
}

section {
  padding: 50px 100px;
}

.btn {
  color: #d2d3d3;
  background: #9b00de;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 7px;
}

.btn:hover {
  background: #9b00de8f;
}

.section-heading {
  text-align: center;
  margin: 3rem 0;
}

.section-heading span {
  font-weight: 500;
  color: #9b00de;
}
.section-heading h2 {
  font-size: clamp(25px, 4vw, 50px);
}
/* ######################### */
/* Navigation */
/* ######################### */

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background: black;
}

nav.active {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
nav .logo {
  font-size: 1.5rem;
  font-weight: Bold;
  color: #9b00de;
}

nav .navigation {
  display: flex;
}

nav .navigation li {
  position: relative;
}
nav .navigation a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text);
  font-weight: 500;
}

nav .navigation a::after,
nav .navigation a::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #9b00de;
  position: absolute;
  left: 0;
  transition: width 0.2s ease-in-out;
}

nav .navigation a::after {
  top: -4px;
}
nav .navigation a::before {
  bottom: -4px;
}

nav .navigation a:hover::before,
nav .navigation a:hover::after,
nav .navigation a.active::before,
nav .navigation a.active::after {
  width: 100%;
}

#burger-menu {
  color: #d2d3d3;
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

#burger-menu:hover {
  color: #e2e2e2;
}

.inscription {
  font-weight: 500;
  padding: 10px 20px;
  color: #d2d3d3;
  background: #9b00de;
  border-radius: 7px;
  transition: 0.2s ease-in-out;
}

.inscription:hover {
  background: #9b00de8f;
}

/* ######################### */
/* Home */
/* ######################### */

.home {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0.781)),
    url("./images/bg-home.jpg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #d2d3d3;
}

.home h1 {
  font-size: clamp(30px, 5vw, 80px);
  letter-spacing: 2px;
  color: #d2d3d3;
}

.home h1 span {
  color: #9b00de;
}

.app-store img {
  width: 150px;
  cursor: pointer;
}

.home-form form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 4rem;
  left: 100px;
  background: #2b2b2b;
  padding: 20px;
  border-radius: 7px;
  color: #d2d3d3;
}

.home-form .input-box {
  flex: 1 1 7rem;
  display: flex;
  flex-direction: column;
}

.home-form .input-box span {
  font-weight: 500;
}

.home-form .input-box input {
  padding: 7px;
  background: #e2e2e2;
  border-radius: 7px;
  font-size: 1rem;
}

.home-form .btn {
  flex: 1 1 7rem;
  padding: -1px 34px;
  background: #9b00de;
  color: #d2d3d3;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 7px;
  font-size: 1rem;
}

.home-form .btn:hover {
  background: #9b00de8f;
}

/* ######################### */
/* Voitures */
/* ######################### */

.cars-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.cars-container .box-car {
  text-align: center;
  padding: 20px;
  background: #2b2b2b;
  border-radius: 7px;
  position: relative;
  transition: 0.2s ease-in-out;
}

.cars-container .box-car::after {
  bottom: -0.2rem;
  right: -0.2rem;
}

.cars-container .box-car::before {
  top: -0.2rem;
  left: -0.2rem;
}
.cars-container .box-car:hover {
  background: #9b00de8f;
}
.cars-container .box-car:hover .bx {
  color: var(--accent);
}

.cars-container .box-car .bx {
  font-size: 3rem;
  color: #9b00de;
}

/* ##### SERVICES  */

#services {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.658), rgb(0, 0, 0)),
    url("./images/downtown-dubai-7680x4320-13361.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.services-container {
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
}
.box {
  padding: 10px;
  border-radius: 7px;
  background-color: #2b2b2b;
}

.box .box-img {
  width: 100%;
  height: 200px;
}

.box .box-img img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  object-fit: cover;
  object-position: center;
  transition: transform 0.1s;
}

.box .box-img img:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.box p {
  padding: 0 10px;
  background: black;
  width: 58px;
  border-radius: 7px;
  margin: 1rem 0 1rem;
}

.box h4 {
  font-weight: 500;
}

.box h5 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #d2d3d3;
  margin: 0.3rem 0 0.5rem;
}

.box h5 span {
  font-size: 0.8rem;
  font-weight: 500;
}

/* ##### ABOUT */
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.about-img img {
  width: 100%;
}

.about-content span {
  color: #9b00de;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.about-content p {
  margin: 1rem 0;
}

/* ### reviews  */

.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1rem;
}

.box-rev {
  text-align: center;
  background: #9b00de;
  padding: 1rem;
  border-radius: 10px;
}

.box-rev:hover {
  background: #9b00de8f;
}

.rev-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 1rem auto;
}

.rev-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stars {
  margin-bottom: 1rem;
}
.stars .bx {
  color: rgb(0, 0, 0);
}
.box-rev h5 {
  font-size: 1.2rem;
}

/* Newsletter */
/* ######################### */

.newsletter {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.658), rgb(0, 0, 0)),
    url("./images/pexels-cytonn-photography-955405.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.newsletter h2 {
  color: #9b00de;
  font-size: 1.4rem;
}

.news-box {
  margin-top: 1rem;
  border-radius: 7px;
  padding: 4px 8px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.news-box input {
  border-radius: 7px;
  padding: 0.5rem;
}

.news-box a .btn {
  padding: 10px;
}

/* ######################### */
/* Footer */
/* ######################### */

footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1.5rem;
  padding: 50px 20px;
  color: #d2d3d3;
  background: #2b2b2b;
}

footer .social {
  margin-top: 0.5rem;
  display: flex;
  column-gap: 0.5rem;
}

footer .social .bx {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9b00de;
  color: #d2d3d3;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  border-radius: 50%;
}

footer .social .bx:hover {
  background: #9b00de8f;
}

footer h2 {
  margin-bottom: 1rem;
  font-weight: 600;
}

footer a {
  color: #9b00de;
}

footer a:hover {
  color: #d2d3d3;
}

footer img {
  width: 50px;
}

.copy {
  padding: 2rem 0;
  text-align: center;
  font-size: 13px;
  background: #000000;
}

/* Breakpoints */
/* ######################### */

@media screen and (max-width: 1050px) {
  nav {
    padding: 1rem;
  }
  #burger-menu {
    display: block;
  }
  .navigation {
    position: absolute;
    top: 100%;
    right: -100%;
    flex-direction: column;
    row-gap: 2rem;
    width: 280px;
    min-height: 100vh;
    background: #000000;
    padding: 1rem 0;
    transition: 0.2s ease-in-out;
  }
  .navigation.active {
    right: 0;
  }
}

@media screen and (max-width: 991px) {
  section {
    padding: 50px 40px;
  }
}

@media screen and (max-width: 900px) {
  .home-form form {
    bottom: 0.2rem;
    left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
  }
  .home-form form {
    position: unset;
    width: 90%;
    margin: 0 auto;
  }
  .about-container {
    text-align: center;
    grid-template-columns: 1fr;
  }
  .about-img {
    padding: 1rem;
    order: 2;
  }
}

@media screen and (max-width: 563px) {
  section {
    padding: 50px 14px;
  }
  .news-box {
    width: 280px;
  }
  #home {
    margin-top: 3rem;
  }
  .copy {
    padding: 1rem;
  }
  .services-container {
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  }
  .home-form {
    padding-top: 2rem;
  }
}
